plugins/importexport/native/native.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pkp.sfu.ca" xmlns:pkp="http://pkp.sfu.ca" elementFormDefault="qualified">

	<!--
	  - Base the native import/export schema on the PKP submission model.
	  -->
	<include schemaLocation="../../../lib/pkp/plugins/importexport/native/pkp-native.xsd" />

	<!-- Allow the use of "monograph" in place of "submission" -->
	<element name="monograph" substitutionGroup="pkp:submission" />
	<element name="monographs" substitutionGroup="pkp:submissions" />

	<!-- Configure the use of the "publication_format" representation -->
	<element name="publication_format" substitutionGroup="pkp:representation">
		<complexType>
			<complexContent>
				<extension base="pkp:representation">
					<attribute name="approved" type="boolean" />
					<attribute name="physical_format" type="boolean" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<!-- Add "artwork_file" extension to submission files -->
	<element name="artwork_file" substitutionGroup="pkp:submission_file">
		<complexType>
			<complexContent>
				<extension base="pkp:submission_file">
					<sequence>
						<element name="caption" type="string" minOccurs="0" maxOccurs="1" />
						<element name="credit" type="string" minOccurs="0" maxOccurs="1" />
						<element name="copyright_owner" type="string" minOccurs="0" maxOccurs="1" />
						<element name="copyright_owner_contact" type="string" minOccurs="0" maxOccurs="1" />
						<element name="permission_terms" type="string" minOccurs="0" maxOccurs="1" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
</schema>
